<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>{% block title %}{% endblock %}</title>
    <!-- Logo Icon Here -->
    <link rel="apple-touch-icon" href="{{ url_for('static',filename='images/apple-touch-icon.png') }}" />
    <link rel="apple-touch-startup-image"
        href="{{ url_for('static',filename='images/apple-touch-startup-image-640x920.png') }}">

    <!-- CSS File Here -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/framework7.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/swipebox.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/animations.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/reset.css') }}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,900" rel="stylesheet">
</head>

<body id="mobile_wrap">
    {% block navbar %}
    {% include 'includes/_navbar.html' %}
    {% endblock %}
    {% block content %}
    {% endblock %}

    {% block scripts %}
    <!-- JS File Here -->
    <script src="{{ url_for('static',filename='js/jquery-1.10.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery.validate.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/framework7.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery.swipebox.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery.fitvids.js') }}"></script>
    <script src="{{ url_for('static',filename='js/email.js') }}"></script>
    <script src="{{ url_for('static',filename='js/audio.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/my-app.js') }}"></script>
    {% endblock %}

    <script type="text/javascript">
        function showPreview(event) {
            if (event.target.files.length > 0) {
                var src = URL.createObjectURL(event.target.files[0]);
                console.log("hello")
                var preview = document.getElementById("file-ip-1-preview");
                preview.src = src;
                preview.style.display = "block";
            }
        }
    </script>

</body>
{% block footer %}
{% include 'includes/_footer.html' %}
{% endblock %}

</html>